<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Item Detail</title>
        <link rel = "stylesheet" href="css/item.css">
    </head>

    <body>
        <h1>My Todo-List App</h1>


        <?php
	
            for($i = 0; $i < sizeof($itemList); $i++)
            {
                echo  "<p>" .$i .". <a href='?id=" .$itemList[$i]->id ."'>" .$itemList[$i]->name ."</a></p>";
            }
		
	    ?>


        <p><a class="big" href="../index.php">Home page</a></p>

    </body>
</html>